{{#if loading}}
  <p>Loading...</p>
{{/if}}

{{#app-thing}}This text will change size and color.{{/app-thing}}

<p>{{input value=test}}</p>
<p>{{input value=name}}</p>
<p>{{input value=other}}</p>

<p>{{remoteQueryString}}</p>
